<section class="page-header background-pink tac">
	<%= image_tag("logo.png", class: "logo") %>
	<h1 class="nm accent">Oliver Thomas Wholesale Application</h1>
</section>
<section>
	<% if @pending_customers.count > 0 %>
	<h2 class="tac">Pending Applications</h2>
	<% @pending_customers.each do |application| %>
		<div class="application-preview">
		    <p><%= link_to 'Review Application', application %></p>
			<p><b>Legal Entity Business Name:</b> <%= application.company %></p>
			<p><b>DBA:</b> <%= application.dba %></p>
			<p><b>State Resale/Tax Exemption Certificate #:</b> <%= application.permit %> <b>State Issued:</b> <%= application.seller_permit_state %></p>
	  		<p><b># Of Retail Locations:</b> <%= application.locations %><br></p>
		 	<p><b>Type of Business:</b> <%= application.legal_status %></p> 
		</div>
	<% end %>
	<% else %>
	<h2 class="tac nm">All Caught Up</h2>
		<p class="nm tac subscript">No New Applications to Review</p>
	<% end %>
</section>
<section class="background-pink tac">
	<h2 class="tac nm">View Previous Applications</h2>
	<p class="nm tac subscript">Edit or Remove Current Wholesale Customers</p>
	<div class="filter-button-wrapper">
		<div class="filter-button active" id="all">All</div>
		<div class="filter-button" id="initial">Approved - Initial</div>
		<div class="filter-button" id="final">Approved - Final</div>
		<div class="filter-button" id="denied">Denied</div>
		<div class="filter-button" id="archived">Archived</div>

	</div>

</section>
<section class="accent-padding background-lightgray decision-section">
	<% @decision_customers.each do |application| %>
		<% if application.status.downcase == "approved - final" %>
			<div class="application-preview final background-green">
		<% elsif application.status.downcase == "approved - initial" %>
			<div class="application-preview initial background-red">
		<% elsif application.status.downcase == "denied" %>
			<div class="application-preview denied background-gray">
		<% elsif application.status.downcase == "archived" %>
			<div class="application-preview archived">
		<% else %>
			<div class="application-preview">
		<% end %>
		    <p><%= link_to 'Review Application', application %> - <%=application.status %></p>
			<p><b>Legal Entity Business Name:</b> <%= application.company %></p>
			<p><b>DBA:</b> <%= application.dba %></p>
			<p><b>State Resale/Tax Exemption Certificate #:</b> <%= application.permit %> <b>State Issued:</b> <%= application.seller_permit_state %></p>
	  		<p><b># Of Retail Locations:</b> <%= application.locations %><br></p>
		 	<p><b>Type of Business:</b> <%= application.legal_status %></p> 
		</div>
	<% end %>
</section>
<script>
	$('.filter-button').click(function() {
		let filterOn = $(this).attr("id")
		$(this).addClass('active').siblings().removeClass('active')
		if (filterOn == "all") {
			$('.decision-section .application-preview').show()

		}
		else {
			$('.decision-section .application-preview').hide()
			$('.' + filterOn).show();
		}	
	})
</script>