<% if @pdf == false %>

<section class="page-header background-pink tac">
	<a href="/"><%= image_tag("logo.png", class: "logo") %></a>
	<h1 class="nm accent">Oliver Thomas Wholesale Application</h1>
</section>
<section>
	<h1 class="tac nm"><%= @customer.company %></h1>
	<p class="nmt tac"><%= link_to "Edit", edit_customer_path(@customer), class: 'edit-delete' %>  |  <%= link_to "Delete", customer_path(@customer), class: 'edit-delete',
                  method: :delete %></p>
         	<%  if @user.admin == true %>
	            	<%= form_for(@customer, remote: true, :html => {:class => "ib fw"}) do |fa| %>
	            		<%= fa.hidden_field :status, :value => "Repush to Shopify" %>

	            	<div class="button background-pink"> <%= fa.submit "Repush to Shopify", class: "decision approval ib" %></div>
	            	<% end %>
            	<% end %>
</section>
<section class="tac approval-denial flex-container">
        <div class="half accent-padding border-right">
        <h3 class="nmt">Sales Rep:<br class="mo"> 
        	<% if @customer.employee %>
        		<%= @customer.employee.name %>
        	<% else %>
        		Pending Selection
        	<% end %>
        	</h3>
        <%= form_for(@customer, remote: true, :html => {:class => "ib"}) do |fa| %>
	    	<%= fa.collection_select :employee_id, Employee.all, :id, :name, {prompt: "Sales Reps"} %><br>
      		<div class="button background-pink"><%= fa.submit "Update Sales Rep", class: "" %></div>
        <% end %>
    </div>
	<div class="half accent-padding">
		<h3 class=" nmt">Status:<br class="mo">  <%= @customer.status.capitalize %></h3>
		<% if @customer.status == "pending" %>
	       		<%= form_for(@customer, remote: true, :html => {:class => "ib fw"}) do |fa| %>
            		<%= fa.hidden_field :status, :value => "Approved - Initial" %>
            	<div class="button background-pink"> <%= fa.submit "Approve - Initial", class: "decision approval ib" %></div>
          		<% end %>

          	<% elsif @customer.status == "Approved - Initial" %>
          		<%= form_for(@customer, remote: true, :html => {:class => "ib fw"}) do |fa| %>
            		<%= fa.hidden_field :status, :value => "Approved - Final" %>

            	<div class="button background-pink"> <%= fa.submit "Approve - Final", class: "decision approval ib" %></div>
            	<% end %>
         
            <% else %>
            	<%= form_for(@customer, remote: true, :html => {:class => "ib fw"}) do |fa| %>
            		<%= fa.hidden_field :status, :value => "Approved - Initial" %>
            	<div class="button background-pink"> <%= fa.submit "Approve - Initial", class: "decision approval ib" %></div>
          		<% end %>
          	<% end %>
          	<%= form_for(@customer, remote: true, :html => {:class => "ib fw"}) do |fa| %>
            	<%= fa.hidden_field :status, :value => "Denied" %>
             	<div class="button background-pink"><%= fa.submit "Deny", class: "decision approval ib" %></div>
          	<% end %>
          		<%= form_for(@customer, remote: true, :html => {:class => "ib fw"}) do |fa| %>
            		<%= fa.hidden_field :status, :value => "Archived" %>
            	<div class="button background-gray"> <%= fa.submit "Archive", class: "decision approval ib" %></div>
          		<% end %>
        </div>
</section>

<section>
	 <p class="tac nm"><%= link_to "Resale Certification", @customer.attachement_url %></p>
	 <p class="tac nm"><a href="?pdf">Format for PDF</a></p>
</section>
<section>
<h3 class="tac nm">Notes</h3>

<p class="tac nmt subscript">*This is private and will not be shared with the customer.</p>
<%= form_for(@customer, remote: true, :html => {:class => "ib fw"}) do |fa| %>
            	<%= fa.text_area :note, class: "fw text-area" , required: true %>
            	<% if @customer.note %>
            	<div class="button background-pink"> <%= fa.submit "Update Notes", class: "ib" %></div>
            	<% else %>
            	<div class="button background-pink"> <%= fa.submit "Add Notes", class: "ib" %></div>
            	<% end %>
          		<% end %>

</section>
<section>
<h3 class="tac nm"><% if @customer.issues%>Current Issues<% else %>No Current Issues<% end %></h3>
<p class="tac nmt subscript" style="color: red;">*Email will be sent to customer upon submission of the below form.</p>
<%= form_for(@customer, remote: true, :html => {:class => "ib fw"}) do |fa| %>
            	<%= fa.text_area :issues, class: "fw text-area" , required: true %>
            	<% if @customer.issues %>
            	<div class="button background-pink"> <%= fa.submit "Update Issues", class: "ib" %></div>
            	<% else %>
            	<div class="button background-pink"> <%= fa.submit "Add Issues", class: "ib" %></div>
            	<% end %>
          		<% end %>

</section>
<% else %>

<style>
.navbar-text { display: none !important; }
main { padding-top: 0 !important;  }
</style>


<section class="page-header background-pink tac">
	<%= image_tag("logo.png", class: "logo") %>
	<h1 class="nm accent">Oliver Thomas Wholesale Application</h1>
</section>

<section class="form-faq">
	<p class="tac">Ollie is thrilled that you are applying to be part of the Oliver Thomas family!</p>
	<p>Please complete and submit the following documents</p>
	<ol>
		<li>Wholesale Application Form (this form)</li>
		<li>Your State Resale Certificate - <a href="https://theoliverthomaswholesale.com/pages/tax-forms" target="_blank">click here to download an electronic PDF for your state</a> (application cannot be approved without a signed copy)</li>
	</ol>
	<p class="nmb">For assistance, please email <a href="mailto: Ollie@TheOliverThomas.com">Ollie@TheOliverThomas.com</a> or call customer service (833) 221-0345.</p>
	<p class="subscript nmt">Once we receive all your information, we will review and send a notification email with further directions (typically 2 - 4 business days).</p>
</section>






<% end %>
<p class="form-header ttu background-pink">Business Information</p>
	<section class="form-section">
		<p><b>Legal Entity Business Name:</b> <%= @customer.company %></p>
		<p><b>DBA:</b> <%= @customer.dba %></p>
		<p><b>State Resale/Tax Exemption Certificate #:</b> <%= @customer.permit %></p>
		<p><b>State Issued:</b> <%= @customer.seller_permit_state %></p>
  		<p><b># Of Retail Locations:</b> <%= @customer.locations %><br>
	 	<p><b>Type of Business:</b> <%= @customer.legal_status %></p>
	 	 	<p class="subscript"><em><span class="ttu">Note:</span> Oliver Thomas (A Division of Black Diamond Group) must be promptly informed of any later changes in your legal status.</em></p>

	</section>
<p class="form-header ttu background-pink">Billing Information</p>
	<section class="form-section">
		<p><b>Street Address:</b> <%= @customer.billing_addr %></p>
		<p><b>City:</b> <%= @customer.billing_city %></p>
		<p> <b>State:</b> <%= @customer.billing_state %> </p>
		<p><b>Zip Code:</b> <%= @customer.billing_zip %></p>
		<p><b>AP Contact:</b> <%= @customer.billing_ap %></p>
		<p><b>AP Phone:</b> <%= @customer.billing_phone %></p>
		<p><b>AP Email Address:</b> <%= @customer.billing_email%></p>
	</section>
<p class="form-header ttu background-pink">Shipping Information</p>
	<section class="form-section">
		<p><b>Street Address:</b> <%= @customer.shipping_address %></p>
		<p><b>City:</b> <%= @customer.shipping_location %></p>
		<p><b>State:</b> <%= @customer.shipping_state %> </p>
		<p><b>Zip Code:</b> <%= @customer.shipping_zip %></p>
	</section>
<p class="form-header ttu background-pink">Buyer Contact Information</p>
	<section class="form-section">
		<p><b>Buyer's Name:</b> <%= @customer.name %></p>
		<p><b>Buyer's Phone:</b> <%= @customer.phone %></p>
		<p><b>Buyer's Email Address:</b> <%= @customer.email %></p>
		<p><b>Top 3 Selling Lines in your Boutique</b></p>
		<ul>
			<li><%= @customer.top3_1 %></li>
			<li><%= @customer.top3_2 %></li>
			<li><%= @customer.top3_3 %></li>
		</ul>
		<p><b>Social Media Sites</b> (Enter N/A if Not Applicable):</p>
	    <p><b>Facebook ID:</b> <%= @customer.facebook %></p>
		<p><b>Instagram Handle:</b> <%= @customer.instagram %></p>
	</section>
	<p class="form-header ttu background-pink">Terms and Conditions</p>
<section>
	<p><b>If you are accepted as a vendor of Oliver Thomas, you will abide by the following terms and conditions:</b></p>
	<ol>
		<li>Customers will not sell Oliver Thomas products on their website, social media accounts or any other online avenues unless a prior written agreement with Oliver Thomas (division of Black Diamond Group, Inc.) is in place.</li>
		<li>Customers will not sell Oliver Thomas products outside of their brick-and-mortar store including pop-ups, seasonal markets, etc.</li>
		<li>Order Minimums: <b>New Account Initial Order</b> -$1200.00; <b>Reorder</b> -$625.00; <b>Small Order Fee</b> -$40 charge for orders that are placed under the $625 minimum reorder amount.</li>
		<li>Accounts must maintain $2,500 annually to remain active wholesale clients.</li>
		<li>View the full list of the <a href="https://theoliverthomaswholesale.com/pages/terms-and-conditions">Oliver Thomas Terms and Conditions</a></li>
		<li>View and agree to the full list of conditions for <a href="https://theoliverthomaswholesale.com/pages/shipping-and-returns">Shipping and Returns</a></li>
		<li>The wholesale partner is responsible for all returns from consumers that have purchased from the wholesale entity.  Oliver Thomas does not accept returns from wholesale direct consumers. </li>
	</ol>
		 <p><input type="checkbox" checked>I Agree</p>

	  <p><input type="checkbox" checked>I agree not to sell below MSRP.</p>
	 <p><input type="checkbox" checked>I represent and warrant that all financial and other information provided to Oliver Thomas in connection with this application and, if accepted, my account is and will be true.</p>
</section>

<style>
		.background-lightgray { background-color: whitesmoke; }
	.border-right { border-right: 2px solid gray; }

		.small-accent { 
		min-height: fit-content; 
		display: flex;
		align-items: center;
		justify-content: center;
		width: 400px;
		margin: 0 auto;
		padding: 25px;
		max-width: 100%;
		border-radius: 10px;
		background-color: white;
	}
		.button { 
		padding: 12px; 
		text-align: center;
		width: 100%;
		color: white;
		font-weight: bold;
		box-sizing: border-box;
		border-radius: 10px;
		border: 2px solid gray;
		margin: 10px auto;
	}
		input[type="text"] {
		margin-bottom: 10px;
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border: 2px solid whitesmoke;
		border-radius: 10px;
	}
		input[type="submit"] {
    	border: none;
    	background: transparent;
    	color: white;
    	font-size: 12pt;
    	font-weight: bolder;
	}
	select {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    font-size: 12pt;
    box-sizing: border-box;
    border: 2px solid gray;
}
.edit-delete {
	display: inline-block;
	width: 75px;
}
.text-area { 
	height: 150px;
	padding: 20px;
	font-family: 'Helvetica';
	box-sizing: border-box;
}
</style>
